* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}

footer {
  background-color: #06436b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 391px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

.copyright {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
  min-width: 800px;
}

.copyright p {
  margin: auto;
}
footer .container {
  display: flex;
  justify-content: space-between;
  width: 62%;
  min-width: 700px;
  height: 240px;
  margin-top: 40px;
  /* background-color: #a4a4a4; */
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 250%;
}

footer .container li {
  cursor: pointer;
  transition: all 0.2s ease;
}

footer .container li:hover {
  opacity: 0.7;
}

.imgLeft,
.imgRight {
  position: absolute;
  top: 0px;
  z-index: 2;
  pointer-events: none;
  transition: transform 1s ease;
}

.imgLeft {
  left: -23%;
}
.imgRight {
  right: -23%;
}

.imgLeft img,
.imgRight img {
  width: 1020px;
}

.bgImg {
  background-image: url(../assets/footer/footer\ logo.png);
  width: 100%;
  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /* top: -10px; */
  z-index: 1;
  pointer-events: none;
}
.goToTop img {
  width: 180px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 35%;
  left: 70%;
}

.goToTop img:nth-child(2) {
  transform-origin: calc(50% + 25px) bottom;
}

.goToTop img:nth-child(2):hover {
  animation: shake 0.4s ease;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-8deg);
  }
  66% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.newsCheck {
  max-width: 800px;
  width: 100%;

  height: 220px;
  /* background-color: #989898; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Potta One";
  z-index: 500;
}
.newsCheck h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  margin-top: 20px;
  margin-bottom: 5px;
  z-index: 500;
}
.newsCheck .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  z-index: 500;
}
.newsCheck .leftBox {
  width: 360px;
  height: 100px;
  display: flex;
  justify-content: end;

  background-color: #06436b;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.newsCheck .leftBox:hover {
  background-color: #1d5377;
}

.newsCheck .leftBox p {
  font-size: 20px;
  margin: auto;
  margin-left: 185px;
  text-align: center;
  line-height: 100%;
  font-family: "Potta One";
}
.newsCheck .leftBox img {
  width: 110px;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.newsCheck .rightBox {
  width: 360px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #06436b;
  font-size: 12px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.newsCheck .rightBox h2 {
  background-color: #e3e3e3;
  width: 100%;
  height: 30px;
  color: #06436b;
  text-align: center;
}
.newsCheck .rightBox .img {
  margin: auto;
}
.newsCheck .rightBox .img img {
  margin: 10px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.newsCheck .rightBox img:hover {
  opacity: 0.7;
}

.rightBox.mobleSideBox {
  display: none;
}

/* -------------RWD---------------- */

@media screen and (max-width: 1024px) {
  .newsCheck {
    max-width: 750px;
  }
  .newsCheck .leftBox {
    width: 340px;
  }

  .newsCheck .leftBox p {
    margin-left: 175px;
  }
  .newsCheck .rightBox {
    width: 340px;
  }

  .bgImg {
    height: 360px;
  }
  .copyright {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    .newsCheck h1 {
      font-size: 36px;
    }

    .newsCheck {
      max-width: 680px;
    }
    .newsCheck .leftBox {
      width: 300px;
    }

    .newsCheck .leftBox p {
      margin-left: 145px;
    }

    .newsCheck .leftBox img {
      left: 22px;
    }
    .newsCheck .rightBox {
      width: 300px;
    }

    .bgImg {
      height: 350px;
    }
    .copyright {
      margin-bottom: 10px;
    }
    .copyright p {
      width: 500px;
    }
    @media screen and (max-width: 480px) {
      .newsCheck h1 {
        font-size: 32px;
      }
      .imgLeft img,
      .imgRight img {
        display: none;
      }

      footer {
        height: 800px;
      }

      .copyright {
        margin-bottom: 20px;
      }
      .copyright p {
        width: 380px;
        line-height: 1.7em;
      }

      .newsCheck .rightBox {
        display: none;
      }

      .newsCheck {
        width: 100%;
      }
      .newsCheck .leftBox {
        margin-top: 10px;
        width: 370px;
      }

      .newsCheck .leftBox p {
        margin-left: 188px;
        margin-top: 27px;
      }

      .newsCheck .leftBox img {
        left: 40px;
      }

      .bgImg {
        margin-top: 250px;
        height: 350px;
      }
      footer .container {
        min-width: 300px;
        margin-top: 30px;
      }

      .goToTop img {
        top: 16%;
        left: 58%;
        width: 150px;
      }

      .rightBox.mobleSideBox {
        display: flex;
        border: #e3e3e3 solid 2px;
        width: 370px;
        margin-top: 640px;
        z-index: 500;
      }
    }
  }
}
