* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;

  /* background-color: #06436b; */
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  margin: auto;
}
.leftNav {
  background-color: #06436b;
  flex: 267;
  display: flex; /* 使用 Flexbox 來居中內容 */
  align-items: center; /* 垂直居中 */
  /* justify-content: flex-end; */
  color: white; /* 文字顏色 */
}
.logo {
  /* padding-left: 50px; */
  align-self: flex-start;
  margin-left: 10.5%;
  z-index: 100;
}
.test {
  background-color: #f06565;
  width: 1200px;
  height: 60px;
  margin: auto;
}
.rightNav {
  background-color: #e3e3e3;
  flex: 93;
  display: flex; /* 使用 Flexbox 來居中內容 */
  align-items: center; /* 垂直居中 */
  /* justify-content: center; */
  color: #06436b; /* 文字顏色 */
}
nav ul {
  display: flex;
  list-style: none;
  font-family: "Potta One";
  font-size: 24px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
}
nav ul li {
  margin-right: 35px;
  flex-shrink: 0;
  /* 防止容器縮小 */
}

nav .rightNav ul li {
  font-size: 20px;
  margin: 10px;
  margin-right: 26.5px;
}
/* nav .leftNav ul li:last-child {
  margin-right: 50%;
} */
nav .rightNav ul li:last-child {
  margin-right: 0;
}
nav ul li:first-child {
  margin-left: 40px;
}
