* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;

  margin-bottom: 30px;
}

.bodyWrapper {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

/* --------seaArea--------- */

.seaArea {
  margin-top: 40px;
}

.seaWrapper {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;

  background-image: url(../assets/menu/main1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* ---------wave動畫-------- */
@keyframes waveAnimation1 {
  0% {
    transform: translate(0px, -10px);
  }
  50% {
    transform: translate(180px, 10px);
  }
  100% {
    transform: translate(0px, -10px);
  }
}

@keyframes waveAnimation2 {
  0% {
    transform: translate(0px, 13px);
  }
  50% {
    transform: translate(200px, -13px);
  }
  100% {
    transform: translate(0px, 13px);
  }
}

@keyframes waveAnimation3 {
  0% {
    transform: translate(0px, -10px);
  }

  50% {
    transform: translate(220px, 10px);
  }

  100% {
    transform: translate(0px, -10px);
  }
}
/* ---------wave動畫-------- */

.seaArea .wave1,
.seaArea .wave2,
.seaArea .wave3 {
  max-width: 1785px;
  position: absolute;
}

.seaArea .wave1 {
  bottom: 180px;
  left: -266px;
  z-index: 2;
  animation: waveAnimation1 28s ease-in-out infinite;
}

.seaArea .wave2 {
  bottom: 9%;
  left: -290px;
  z-index: 100;
  animation: waveAnimation2 30s ease-in-out infinite;
}

.seaArea .wave3 {
  bottom: -10px;
  left: -266px;
  z-index: 250;
  animation: waveAnimation3 33s ease-in-out infinite;
}

.seaArea h1 {
  font-size: 28px;
  color: #06436b;
  letter-spacing: 5px;
  margin-top: 80px;
  margin-bottom: 95px;
}

/* ---------seaArea_menuSec-------- */

.menuSec {
  position: relative;
}

.menuSec img {
  width: 160px;
}

.menuSec1 {
  max-width: 620px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menuSec1Box {
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuSec1Box:hover {
  transform: scale(1.05);
  transform-origin: bottom center;
}

.menuSec1Box1,
.menuSec1Box2 {
  position: relative;
}

.menuSec1 .menuContentLimit {
  width: 34px;
  position: absolute;
  right: 5px;
  top: -38px;
}

.menuSec1 .menuContentNigiri {
  width: 34px;
  position: absolute;
  right: -10px;
  top: -38px;
}
/* -------------2----------------- */

.menuSec2 {
  max-width: 1050px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menuSec2Box1,
.menuSec2Box2,
.menuSec2Box3 {
  position: relative;
  z-index: 50;
}

.menuSec2 .menuContentNiku {
  width: 34px;
  position: absolute;
  right: 5px;
  top: -38px;
}

.menuSec2 .menuContentGunkan {
  width: 72px;
  position: absolute;
  right: -20px;
  top: -50px;
}

.menuSec2 .menuContentSide {
  width: 34px;
  position: absolute;
  right: -15px;
  top: -50px;
}

/* -------------3----------------- */

.menuSec3 {
  max-width: 620px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menuSec3Box1,
.menuSec3Box2 {
  position: relative;
  z-index: 200;
}

.menuSec3 .menuContentKids {
  width: 34px;
  position: absolute;
  right: -10px;
  top: -38px;
}

.menuSec3 .menuContentTakeout {
  width: 34px;
  position: absolute;
  right: -30px;
  top: -38px;
}

/* ---------menu-------- */

.menuList h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.sushiList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listArea {
  max-width: 1035px;
  width: 100%;
  /* background-color: #c4c4c4; */
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.sushiBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 250px;
}

.sushiBox .circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fffdef;
}

.sushiBox .sushiContent {
  text-align: center;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sushiBox .imgSushi {
  top: -5px;
  position: absolute;
}

.remind {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* ------things to note-------- */

.noteBox {
  max-width: 970px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}

.noteBox button {
  flex-shrink: 0;
}

.thingsToNote {
  margin: auto;
  font-size: 12px;
  text-align: start;
  max-width: 700px;
  width: 100%;
}

.arrowTop {
  font-size: 16px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  font-weight: 600;
}

.transfromArrow {
  transition: transform 0.3s ease;
}

.noteBox button:hover .transfromArrow {
  transform: translateY(-5px);
}

.noteBox button {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
  border-bottom: #fff solid 1.5px;
  align-self: last baseline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* ------driveThrough-------- */

.driveThrough {
  position: relative;
  width: 100%;
  height: 1800px;
}

.driveThroughBg {
  margin-top: 180px;
  margin-bottom: 250px;
  width: 100%;
  height: 550px;
  background-image: url(../assets/menu/takeout/driveThrough-wave_bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.driveThrough h1 {
  margin: 20px;
  color: #06436b;
}

.driveThrough h2 {
  color: #fff;
  text-align: center;
  font-family: "Potta One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: 3.6px;
  text-shadow: 2px 2px 0 #06436b, -1px -1px 0 #06436b, 1px -1px 0 #06436b,
    -1px 1px 0 #06436b; /* 黑色邊框 */
}
.driveThroughImg {
  width: 770px;
  position: absolute;
  top: -140px;
  left: -140px;
}

.backgroundYellow {
  width: 100%;
  height: 1759px;
  position: absolute;
  top: 400px;
  background-image: url(../assets/menu/takeout/bg_yellow.png);
  background-position: top;
  background-size: cover;
  background-repeat: repeat;
}

.backgroundYellow .car {
  width: 230px;
  position: absolute;
  top: -80px;
  right: 150px;
}

.newsCheck h1 {
  color: #06436b;
}

.newsCheck .rightBox h2 {
  background-color: #d8d8d8;
}

/* -----------driveThroughMenu--------------- */

.driveThroughMenuBg {
  width: 1000px;
  height: 1008px;
  background-image: url(../assets/menu/takeout/box_bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 700px;
  z-index: 600;
  /* display: flex; */
}

.driveThroughMenu {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 918px;
  width: 100%;
}

.driveThroughMenu h1 {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 0;
}

.driveThroughMenu h2 {
  font-size: 28px;
}

.driveThroughMenu .button {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.driveThroughMenu .sushi,
.side,
.dessert {
  width: 225px;
}

.sushiMenu {
  /* max-width: 904px; */
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* border: yellow solid 5px; */
}

/* 初始隱藏所有菜單 */
.sushiMenu {
  display: none;
}

/* 顯示當前菜單 */
.sushiMenu.active {
  display: flex;
}

.driveThroughMenu .button {
  cursor: pointer;
}
.driveThroughMenu .button img:hover {
  opacity: 0.7;
}

.sushiMenuSide .sushiMenuBox:nth-last-child(1),
.sushiMenuSide .sushiMenuBox:nth-last-child(2) {
  opacity: 0;
}

.sushiMenuDessert .sushiMenuBox:nth-last-child(1),
.sushiMenuDessert .sushiMenuBox:nth-last-child(2),
.sushiMenuDessert .sushiMenuBox:nth-last-child(3),
.sushiMenuDessert .sushiMenuBox:nth-last-child(4) {
  opacity: 0;
}

.sushiMenuImg {
  width: 201px;
  height: 173px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sushiMenuImg img {
  width: 145px;
}

.sushiMenuContent {
  width: 201px;
  height: 110px;
  border: #fff solid 2px;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sushiMenuBox .remind {
  font-size: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.sushiSlide {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  position: absolute;
  bottom: 380px;
  left: 50px;
  animation: slide 10s linear infinite;
}

.sushiSlide img {
  width: 974px;
  margin-top: 140px;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90.5%);
  }
}

/* -----------------RWD------------------ */

@media screen and (max-width: 1024px) {
  .menuSec1 {
    max-width: 550px;
  }
  .menuSec2 {
    max-width: 900px;
  }

  .menuSec3 {
    max-width: 560px;
  }

  .menuSec1 .menuContentLimit {
    width: 32px;
    right: 7px;
    top: -36px;
  }

  .menuSec1 .menuContentNigiri {
    width: 32px;
    right: -8px;
    top: -36px;
  }

  .menuSec2 .menuContentNiku {
    width: 32px;
    right: 7px;
    top: -36px;
  }

  .menuSec2 .menuContentGunkan {
    width: 66px;
    right: -16px;
    top: -42px;
  }

  .menuSec2 .menuContentSide {
    width: 32px;
    right: -13px;
    top: -48px;
  }

  .menuSec3 .menuContentKids {
    width: 32px;
    right: -8px;
    top: -36px;
  }

  .menuSec3 .menuContentTakeout {
    width: 32px;
    right: -28px;
    top: -36px;
  }

  /* ---------menu-------- */
  /* ------things to note-------- */

  .thingsToNote {
    max-width: 600px;
  }

  /* ---------------driveThrough---------------- */

  .driveThrough .driveThroughBg h1 {
    margin: 10px;
    font-size: 36px;
  }

  .driveThrough .driveThroughBg h2 {
    font-size: 20px;
  }
  .driveThroughImg {
    width: 700px;
    top: -120px;
    left: -140px;
  }
  .backgroundYellow .car {
    width: 230px;
    position: absolute;
    top: -60px;
    right: 150px;
  }
  .backgroundYellow {
    height: 1735px;
  }

  /* -----------driveThroughMenu--------------- */

  .driveThroughMenuBg {
    width: 900px;
    height: 908px;
  }

  .driveThroughMenu h1 {
    font-size: 36px;
  }

  .driveThroughMenu h2 {
    font-size: 24px;
  }

  .driveThroughMenu .button {
    width: 700px;
  }
  .driveThroughMenu .sushi,
  .side,
  .dessert {
    width: 200px;
  }

  .sushiMenu {
    gap: 20px;
  }

  .sushiMenuImg {
    width: 180px;
    height: 153px;
  }

  .sushiMenuImg img {
    width: 130px;
  }

  .sushiMenuContent {
    width: 180px;
    height: 90px;
  }
  .sushiMenuContent {
    font-size: 16px;
  }

  .sushiMenuBox .remind {
    margin-top: 2px;
  }

  @media screen and (max-width: 768px) {
    .seaArea h1 {
      font-size: 24px;
      margin-bottom: 80px;
    }
    .menuSec1 {
      max-width: 450px;
      margin-bottom: 50px;
    }
    .menuSec2 {
      max-width: 680px;
      margin-bottom: 50px;
    }

    .menuSec3 {
      max-width: 460px;
    }

    .menuSec3Box1,
    .menuSec3Box2 {
      z-index: 300;
    }

    /* ---------menu-------- */

    .menuList h1 {
      font-size: 36px;
    }

    .sushiBox img {
      width: 180px;
    }

    .sushiBox .imgSushi {
      top: 0;
    }
    .sushiBox .circle {
      width: 120px;
      height: 120px;
    }
    /* ------things to note-------- */

    .thingsToNote {
      max-width: 500px;
    }

    /* ---------------driveThrough---------------- */

    .driveThrough {
      height: 1500px;
    }

    .driveThrough .driveThroughBg h1 {
      font-size: 36px;
    }

    .driveThrough .driveThroughBg h2 {
      font-size: 20px;
    }
    .driveThroughImg {
      width: 600px;
      top: -85px;
      left: -140px;
    }
    .backgroundYellow .car {
      top: -50px;
    }

    /* ---------------driveThrough---------------- */

    .driveThrough .driveThroughBg h1 {
      margin: 10px;
      font-size: 36px;
    }

    .driveThrough .driveThroughBg h2 {
      font-size: 20px;
    }
    .driveThroughImg {
      width: 600px;
      top: -80px;
      left: -140px;
    }
    .backgroundYellow .car {
      width: 230px;
      position: absolute;
      top: -50px;
      right: 150px;
    }
    .backgroundYellow {
      height: 1446px;
    }

    /* -----------driveThroughMenu--------------- */

    .driveThroughMenuBg {
      width: 700px;
      height: 708px;
      display: flex;
      top: 550px;
    }

    .driveThroughMenu h1 {
      font-size: 32px;
      margin-top: 0;
    }

    .driveThroughMenu h2 {
      font-size: 22px;
    }

    .driveThroughMenu .button {
      width: 550px;
      margin-top: 20px;
    }
    .driveThroughMenu .sushi,
    .side,
    .dessert {
      width: 160px;
    }

    .sushiMenu {
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .sushiMenuImg {
      width: 150px;
      height: 113px;
    }

    .sushiMenuImg img {
      width: 110px;
    }

    .sushiMenuContent {
      width: 150px;
      height: 80px;
    }
    .sushiMenuContent {
      font-size: 16px;
    }

    .sushiMenuBox .remind {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 8px;
    }

    .sushiSlide img {
      width: 900px;
    }
  }

  @media screen and (max-width: 480px) {
    .seaArea h1 {
      font-size: 20px;
      width: 240px;
      align-self: center;
    }

    .menuSec img {
      width: 125px;
    }

    .menuSec1 {
      max-width: 310px;
    }
    .menuSec2 {
      max-width: 380px;
      padding: 0 5px;
    }

    .menuSec3 {
      max-width: 320px;
    }

    .menuSec1 .menuContentLimit {
      width: 27px;
      right: 7px;
      top: -32px;
    }

    .menuSec1 .menuContentNigiri {
      width: 27px;
      right: -8px;
      top: -32px;
    }

    .menuSec2 .menuContentNiku {
      width: 27px;
      right: 7px;
      top: -32px;
    }

    .menuSec2 .menuContentGunkan {
      width: 53px;
      right: -10px;
      top: -34px;
    }

    .menuSec2 .menuContentSide {
      width: 27px;
      right: -2px;
      top: -34px;
    }

    .menuSec3 .menuContentKids {
      width: 27px;
      right: -8px;
      top: -34px;
    }

    .menuSec3 .menuContentTakeout {
      width: 27px;
      right: -22px;
      top: -34px;
    }

    /* ---------menu-------- */

    .menuList h1 {
      font-size: 32px;
    }

    .listArea {
      flex-wrap: wrap;
    }
    .sushiBox {
      width: 180px;
    }

    /* ------things to note-------- */

    .noteBox {
      flex-wrap: wrap;
    }

    .noteBox button {
      margin-top: 20px;
      margin-left: auto;
    }

    /* ---------------driveThrough---------------- */

    .driveThrough {
      height: 2000px;
    }

    .driveThrough .driveThroughBg h1 {
      font-size: 26px;
    }

    .driveThrough .driveThroughBg h2 {
      font-size: 16px;
    }
    .driveThroughImg {
      width: 500px;
      top: -50px;
      left: -150px;
    }

    .backgroundYellow {
      height: 1972px;
    }
    .backgroundYellow .car {
      width: 250px;
      top: -50px;
      right: 85px;
    }

    .newsCheck .rightBox h2 {
      background-color: #e3e3e3;
    }

    /* -----------driveThroughMenu--------------- */

    .driveThroughMenuBg {
      background-image: url(../assets/mobile/menu/driveThrough-08.png);
      width: 390px;
      height: 1240px;
      top: 850px;
    }
    .driveThroughMenu {
      position: relative;
      top: -15px;
    }

    .driveThroughMenu h1 {
      font-size: 24px;
    }

    .driveThroughMenu h2 {
      font-size: 20px;
    }

    .driveThroughMenu .button {
      margin-top: 30px;
      margin-bottom: 10px;
      width: 370px;
    }
    .driveThroughMenu .sushi,
    .side,
    .dessert {
      width: 115px;
    }

    .sushiMenu {
      gap: 15px;
    }

    .sushiMenuImg {
      width: 160px;
      height: 123px;
    }

    .sushiMenuContent {
      width: 160px;
      height: 90px;
    }

    .sushiMenuImg img {
      width: 120px;
    }

    .sushiMenuBox .remind {
      margin-top: 3px;
    }

    .sushiSlide img {
      width: 700px;
    }
  }
}
