* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;

  margin-bottom: 30px;
}

/* --------seaArea--------- */

.seaWrapper {
  width: 100%;
  height: 760px;
  background-color: #8e8e8e;
  background-image: url(../assets/menu/main1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.seaArea .wave1,
.wave2,
.wave3 {
  max-width: 1785px;
  position: absolute;
}

.seaArea .wave1 {
  bottom: 145px;
  left: -266px;
  z-index: 2;
}

.seaArea .wave2 {
  bottom: 70px;
  left: -290px;
}

.seaArea .wave3 {
  bottom: 0;
  left: -266px;
  z-index: 250;
}

.seaArea h1 {
  font-size: 28px;
  color: #06436b;
  letter-spacing: 3.5px;
  margin-top: 90px;
  margin-bottom: 80px;
}
/* ---------seaArea_menuSec-------- */

.menuSec img {
  width: 160px;
}

.menuSec1 {
  width: 620px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.menuSec1Box1,
.menuSec1Box2 {
  position: relative;
}

.menuSec1 .menuContentLimit {
  width: 34px;
  position: absolute;
  right: 5px;
  top: -38px;
}

.menuSec1 .menuContentNigiri {
  width: 34px;
  position: absolute;
  right: -10px;
  top: -38px;
}
/* -------------2----------------- */

.menuSec2 {
  width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menuSec2Box1,
.menuSec2Box2,
.menuSec2Box3 {
  position: relative;
  z-index: 300;
}

.menuSec2 .menuContentNiku {
  width: 34px;
  position: absolute;
  right: 5px;
  top: -38px;
}

.menuSec2 .menuContentGunkan {
  width: 72px;
  position: absolute;
  right: -20px;
  top: -50px;
}

.menuSec2 .menuContentSide {
  width: 34px;
  position: absolute;
  right: -15px;
  top: -50px;
}

/* -------------3----------------- */

.menuSec3 {
  width: 620px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menuSec3Box1,
.menuSec3Box2 {
  position: relative;
  z-index: 200;
}

.menuSec3 .menuContentKids {
  width: 34px;
  position: absolute;
  right: -10px;
  top: -38px;
}

.menuSec3 .menuContentTakeout {
  width: 34px;
  position: absolute;
  right: -30px;
  top: -38px;
}

/* ---------menu-------- */

.menuList h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.sushiList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listArea {
  width: 1035px;
  /* background-color: #c4c4c4; */
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.sushiBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 250px;
}

.sushiBox .circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fffdef;
}

.sushiBox .sushiContent {
  text-align: center;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sushiBox .imgSushi {
  top: -5px;
  position: absolute;
}

.remind {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* ------things to note-------- */

.noteBox {
  width: 930px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.thingsToNote {
  margin: auto;
  font-size: 12px;
  text-align: start;
  width: 700px;
}

.arrowTop {
  font-size: 16px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  font-weight: 600;
}

.transfromArrow {
  transition: transform 0.3s ease;
}

.noteBox button:hover .transfromArrow {
  transform: translateY(-5px);
}

.noteBox button {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
  border-bottom: #fff solid 1.5px;
  align-self: last baseline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* ------driveThrough-------- */

.driveThrough {
  position: relative;
  width: 100%;
  height: 1800px;
}

.driveThroughBg {
  margin-top: 180px;
  margin-bottom: 250px;
  width: 100%;
  height: 550px;
  background-image: url(../assets/menu/takeout/driveThrough-wave_bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.driveThrough h1 {
  margin: 20px;
  color: #06436b;
}

.driveThrough h2 {
  color: #fff;
  text-align: center;
  font-family: "Potta One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: 3.6px;
  text-shadow: 2px 2px 0 #06436b, -1px -1px 0 #06436b, 1px -1px 0 #06436b,
    -1px 1px 0 #06436b; /* 黑色邊框 */
}
.driveThroughImg {
  width: 770px;
  position: absolute;
  top: -140px;
  left: -140px;
}

.backgroundYellow {
  width: 100%;

  height: 1759px;
  position: absolute;
  top: 400px;
  background-image: url(../assets/menu/takeout/bg_yellow.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundYellow .car {
  width: 230px;
  position: absolute;
  top: -80px;
  right: 150px;
}

.newsCheck h1 {
  color: #06436b;
}

/* -----------driveThroughMenu--------------- */

.driveThroughMenuBg {
  width: 1000px;
  height: 1008px;
  background-image: url(../assets/menu/takeout/box_bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 700px;
  z-index: 600;
}

.driveThroughMenu {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 918px;
  text-align: center;
}

.driveThroughMenu h1 {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 0;
}

.driveThroughMenu h2 {
  font-size: 28px;
}

.driveThroughMenu .button {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.driveThroughMenu .sushi,
.side,
.dessert {
  width: 225px;
}

.sushiMenu {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.sushiMenuImg {
  width: 201px;
  height: 173px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sushiMenuImg img {
  width: 145px;
}

.sushiMenuContent {
  width: 201px;
  height: 110px;
  border: #fff solid 2px;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sushiMenuBox .remind {
  font-size: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.sushiSlide {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: absolute;
  bottom: 380px;
}

.sushiSlide img {
  width: 974px;
  margin-top: 140px;
}
