* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.sec1Wrapper {
  position: relative;
  height: 1200px;
}
.mainImg {
  position: relative;
  height: 964px;
}

.mainImg .img1,
.mainImg .img2,
.mainImg .img3 {
  width: 100%;
  height: auto;
  position: absolute;
}
.mainImg .container {
  position: absolute;
  top: 8%;
  left: 18%;
  z-index: 400;
}
.mainImg .container h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
}

.indexSec2 {
  width: 100%;
  position: absolute;
  height: 500px;
  top: 650px;
  z-index: 300;
}
.indexSec2 img {
  position: absolute;
  width: 100%;
  height: auto;
}
.sec1Wrapper .content1,
.sec1Wrapper .content2 {
  width: 470px;
  /* height: 120px; */
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0.2em;
  z-index: 400;
}

.sec1Wrapper .content1 {
  position: absolute;
  top: 600px;
  left: 9%;
}

.sec1Wrapper .content2 {
  position: absolute;
  top: 840px;
  right: 9%;
  z-index: 301;
}

/* ----------banner---------- */
.banner h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 30px;
}
.bannerSec {
  background-color: #06436b;
  width: 100%;
  height: 550px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderBoard {
  margin: auto;
  width: 970px;
  height: 419px;
}

.bannerContent {
  display: flex;
}

.bannerSec .bannerContent img {
  margin: auto;
  width: 970px;
}

.bannerSec .contentButton img {
  margin: auto;
  width: 200px;
  margin-top: 10px;
}

/* ----------bigNews---------- */

.bigNews .wrapper {
  display: flex;
  justify-content: center;
}
.bigNews .leftBox {
  background-color: #06436b;
  width: 315px;
  height: 315px;
  margin-top: 70px;
  border-radius: 12px 0 0 12px;
}
.bigNews .rightBox {
  border: #06436b solid 4px;
  width: 720px;
  height: 315px;
  margin-top: 70px;
  border-radius: 0 12px 12px 0;
}

.bigNews .leftBox .content {
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigNews .rightBox .content {
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigNews .leftBox .content p {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.bigNews .rightBox .content p {
  margin: 3px 30px 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

.bigNews .rightBox .content li:hover p:nth-child(2) {
  text-decoration: underline;
}

.bigNews .rightBox .content .date {
  font-weight: 600;
  margin: 20px 30px 0 30px;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.rightBox .content li:first-child .date {
  margin-top: 0;
}

/* ----------menu---------- */

.menu .wrapper h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;
  margin: 50px;
}

.menu .wrapper {
  margin: auto;
  width: 1035px;
  height: 950px;
}

.boxLimit,
.boxNigiri,
.boxMeat,
.boxGunkan {
  width: 230px;
  /* height: auto; */
  position: relative;

  /* background-color: #ea5e5e; */
}

.boxLimit,
.boxGunkan {
  margin-top: 60px;
}

.menu video {
  width: 230px;
  position: absolute;
  cursor: pointer;
}

.menu .menuContent {
  width: 40px;
  position: absolute;
  top: -15px;
  right: 15px;
  cursor: pointer;
}

.menu .sushi {
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.menu .topContainer {
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.menu .menuLeft {
  width: 517px;
  display: flex;
  justify-content: space-around;
}

.menu .menuRight {
  width: 517px;
  display: flex;
  justify-content: space-around;
}

.menu button {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
  border: #fff solid 1px;
  position: absolute;
  left: 50%;
  top: 360px;
  transform: translate(-50%, -50%);
  padding: 6px 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-right {
  font-size: 16px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  font-weight: 600;
}

/* ------------bottom------------ */

.menu .bottomContainer {
  display: flex;
  justify-content: center;

  width: 1035px;
}

.menu .menuLeftRight {
  width: 1005.5px;
  display: flex;
  justify-content: space-between;
}

.boxSideMenu,
.boxSet {
  width: 230px;
  height: auto;
  position: relative;
  margin-top: 60px;
}

.boxTakeout video {
  width: 458.33px;
  position: relative;
}
.boxTakeout {
  height: auto;
  position: relative;
}

/* ---------kodawari---------- */

.korawari .wrapper {
  width: 1035px;
  /* height: 700px; */
  /* background-color: #cdcdcd; */
  margin: auto;
  position: relative;
}

.korawari .wrapper h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;
  margin: 120px 0 70px 0;
  position: relative;
  z-index: 300;
}

.korawari .container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 300;
}

.korawari .fourBox {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 5;
}

.korawari .fourBox img {
  transition: all 0.2s ease;
}

.korawari .fourBox img:hover {
  opacity: 0;
}

.korawari .fourBox.hover {
  position: absolute;
  z-index: 1;
}

.neta,
.syari {
  width: 150px;
  cursor: pointer;
}
.tennaicyouri,
.syouyu {
  width: 120px;
  cursor: pointer;
}

.korawari .moreButtom .button {
  color: #fff;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  background-color: #06436b;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
  border: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.korawari .moreButtom .button:hover {
  background-color: #e3e3e3;
  color: #06436b;
}

.korawari .moreButtom .arrow-right {
  font-size: 25px;
  margin-left: 20px;
}

.korawari .backgroundPic {
  position: absolute;
  /* background-color: #d86a6a; */
  width: 1035px;
  height: 700px;
  top: 0;
  z-index: 1;
}

@keyframes diamondAnimation1 {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes diamondAnimation2 {
  0% {
    transform: translateY(12px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(12px);
  }
}

.korawari .backgroundPic .tennaicyouriPic {
  width: 430px;
  position: absolute;
  left: -100px;
  animation: diamondAnimation1 3s ease-in-out infinite;
}

.korawari .backgroundPic .syouyuPic {
  width: 430px;
  position: absolute;
  bottom: 0;
  right: -100px;
  animation: diamondAnimation2 3.5s ease-in-out infinite;
}

.korawari .backgroundPic .netaPic {
  width: 330px;
  position: absolute;
  top: -20px;
  right: -70px;
  animation: diamondAnimation2 5s ease-in-out infinite;
}

.korawari .backgroundPic .syariPic {
  width: 330px;
  position: absolute;
  bottom: 30px;
  left: -70px;
  animation: diamondAnimation1 2.5s ease-in-out infinite;
}

/* ---------osusume---------- */

.osusume {
  width: 1035px;
  margin: auto;
}

.osusume h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.osusume .container {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
}

.osusume img {
  width: 340px;
  cursor: pointer;
}

.osusume .image-wrapper {
  position: relative;
}

.osusume .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  height: 147px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.osusume .image-wrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

/* --------------topics--------------- */

.topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topics h1 {
  color: #ffffff;
  font-family: "Potta One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.topicsContainer {
  width: 1035px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 50px;
}

.topicsContainer .date,
.content {
  color: black;
}

.topicBar {
  width: 950px;
  display: flex;
  align-items: center;
  padding: 25px 20px 25px 0;
  cursor: pointer;
  border-bottom: 1.5px solid #d49100;
}

.topicsContainer .date {
  /* margin-right: 30px; */
  font-weight: 500;
  margin-right: 30px;
  font-size: 16px;
  letter-spacing: 0.08em;
}

.category,
.categoryImportant,
.categoryMenu {
  background-color: #4ca2a2;
  color: #fff;
  padding: 5px;
  padding-bottom: 7px;
  text-align: center;
  width: 9em;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  margin-right: 30px;
  line-height: 25px;
}

.categoryImportant {
  background-color: #ac4352;
}

.categoryMenu {
  background-color: #496f42;
}

.topics .topicBar:hover .category,
.topics .topicBar:hover .categoryImportant,
.topics .topicBar:hover .categoryMenu,
.topics .topicBar:hover p:nth-child(3) {
  opacity: 0.7;
}

.topics .topicBar:hover p:nth-child(3) {
  text-decoration: underline;
}

.topicsContainer .content {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.08em;
  width: 600px;
}

.topicsContainer .topicBar span {
  color: #06436b;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  margin-left: auto;
}
